altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
future
folium
geocoder
geographiclib
geopy
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
opencv-python-headless
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
ratelim
referencing
requests
rich
rpds-py
setuptools
six
smmap
streamlit==1.33.0
streamlit_folium
tenacity
toml
toolz
tornado
typing_extensions
tzdata
urllib3
watchdog
wheel
